<div class="container-fluid">
    <div class="row p-1 py-5 mb-5 align-items-center">
        <div class="col-md-7">
            <h1 class="display-2" style="font-weight: 700;">Buy Prebuilt Gaming PC Under Rs.30,000</h1>
            <p class="">Unleash Your Gaming Potential with Gaming CPU's Affordable and Assembled Gaming PCs in India</p>
            <div class="d-flex d-md-none align-items-center gap-2">
                <a [href]="'/gaming-pc?category=BUDGET GAMING'"><button class="btn btn-sm btn-dark px-3">Explore PCs</button></a>
                <a href="/contact-us"><button class="btn btn-sm btn-secondary px-3 me-2">Contact Us</button></a>
                <a target="_blank" href="tel:8709903843"><img src="assets/social/whatsapp2.png" width="30px" alt="Whatsapp icon"></a>
                <a target="_blank" href="https://www.instagram.com/gamingcpu.in/"><img src="assets/social/instagram.png" width="25px"></a>
            </div>
            <div class="d-none d-md-block">
                <div class="d-flex align-items-center gap-2">
                    <a [href]="'/gaming-pc?category=BUDGET GAMING'"><button class="btn btn-lg btn-dark px-4">Explore PCs</button></a>
                    <a href="/contact-us"><button class="btn btn-lg btn-light px-4 me-2">Contact Us</button></a>
                    <a target="_blank" href="tel:8709903843"><img src="assets/social/whatsapp2.png" width="30px" alt="Whatsapp icon"></a>
                    <a target="_blank" href="https://www.instagram.com/gamingcpu.in/"><img src="assets/social/instagram.png" width="25px" alt="Instagram icon"></a>
                    <!-- <a target="_blank" href="tel:8709903843"><img src="assets/social/telephone.png" width="35px" alt="Telephone icon"></a> -->
                    <!-- <a target="_blank" href="https://www.facebook.com/profile.php?id=100023688862222"><img src="assets/social/facebook.png" width="25px" alt="Facebook icon"></a> -->
                    <!-- <a target="_blank" href="https://github.com/devrahulkr53"><img src="assets/social/github.png" width="30px" alt="Github icon"></a> -->
                    <!-- <a target="_blank" href="https://www.linkedin.com/in/rahulkrdev53/"><img src="assets/social/linkedin.png" width="25px" alt="LinkedIn icon"></a> -->
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block offset-md-2">
            <!-- <div id="mydiv"></div> -->
            <img src="assets/pc-images/extreme/1.png" width="100%" alt="PC">
        </div>
    </div>
    
    
    <h2>Budget Gaming PC</h2>
    <!-- <p>A budget gaming PC offers an affordable and accessible way to enjoy video games without breaking the bank. It is designed to deliver a smooth gaming experience with limited investment.</p> -->
    <hr>
    <div slickContainer #slickController="slick" [slickConfig]="config">
        <ng-container *ngIf="slickController.initialize">
            <div slickItem *ngFor="let item of budgetPC; let i = index">
                <a [href]="'/product?id='+item.id+'&name='+item.productName+'&image='+item.productImage" class="text-dark"><div class="cursor-pointer m-1 p-2" style="background-color: unset;">
                    <img [src]="item.productImage" width="100%" height="280px" class="p-0 d-none d-md-block" [alt]="item?.name">
                    <img [src]="item.productImage" width="100%" height="180px" class="p-0 d-block d-md-none" [alt]="item?.name">
                    <div class="p-0 pt-2">
                        <!-- <button class="btn btn-lg btn-secondary px-5">View Product</button> -->
                        <div>{{item.productName}}</div>
                        <h2 class="m-0" style="font-weight: 500;">Rs. {{item.sellingPrice}}</h2>
                    </div>
                </div></a>
            </div>
        </ng-container>
    </div>

    <h2>Extreme Gaming PC</h2>
    <!-- <p>An extreme gaming PC is a high-performance machine designed for the most demanding gamers. It is equipped with the latest and greatest hardware to handle the most graphically intense video games and provides an immersive gaming experience.</p> -->
    <hr>
    <div slickContainer #slickController="slick" [slickConfig]="config">
        <ng-container *ngIf="slickController.initialize">
            <div slickItem *ngFor="let item of extremePC; let i = index">
                <a [href]="'/product?id='+item.id+'&name='+item.productName+'&image='+item.productImage" class="text-dark"><div class="cursor-pointer card m-1 p-2 shadow-md" style="background-color: unset;">
                    <img [src]="item.productImage" width="100%" height="280px" class="p-0 d-none d-md-block" [alt]="item?.name">
                    <img [src]="item.productImage" width="100%" height="180px" class="p-0 d-block d-md-none" [alt]="item?.name">
                    <div class="p-0 pt-2">
                        <!-- <button class="btn btn-lg btn-secondary px-5">View Product</button> -->
                        <div>{{item.productName}}</div>
                        <h2 class="m-0" style="font-weight: 500;">Rs. {{item.sellingPrice}}</h2>
                    </div>
                </div></a>
            </div>
        </ng-container>
    </div>

    <h2>Streaming Gaming PC</h2>
    <!-- <p>A streaming PC is a computer specifically designed for live streaming video games or other multimedia content. It has powerful hardware and efficient software to provide smooth and seamless video playback, ensuring high-quality streams for viewers.</p> -->
    <hr>
    <div slickContainer #slickController="slick" [slickConfig]="config">
        <ng-container *ngIf="slickController.initialize">
            <div slickItem *ngFor="let item of streamingPC; let i = index">
                <a [href]="'/product?id='+item.id+'&name='+item.productName+'&image='+item.productImage" class="text-dark"><div class="cursor-pointer card m-1 p-2 shadow-md" style="background-color: unset;">
                    <img [src]="item.productImage" width="100%" height="280px" class="p-0 d-none d-md-block" [alt]="item?.name">
                    <img [src]="item.productImage" width="100%" height="180px" class="p-0 d-block d-md-none" [alt]="item?.name">
                    <div class="p-0 pt-2">
                        <!-- <button class="btn btn-lg btn-secondary px-5">View Product</button> -->
                        <div>{{item.productName}}</div>
                        <h2 class="m-0" style="font-weight: 500;">Rs. {{item.sellingPrice}}</h2>
                    </div>
                </div></a>
            </div>
        </ng-container>
    </div>
    
</div>