<div class="container-fluid text-white">
    <div class="row p-1 py-5 align-items-center">
        <div class="col-md-7">
            <h1 class="display-2" style="font-weight: 700;">BEST GAMING PC AT LOWEST PRICE</h1>
            <p class="">GamingCPU is a leading company for best gaming pc at lowest price in India. Purchase your gaming
                pc from our customized category of PCs.</p>
            <div class="d-block d-md-none">
                <button class="btn btn-sm btn-light px-4 me-2">Contact Us</button>
                <button class="btn btn-sm btn-dark px-4" routerLink="/gaming-pc">Explore PCs</button>
            </div>
            <div class="d-none d-md-block">
                <div class="d-flex align-items-center gap-2">
                    <button class="btn btn-lg btn-dark px-4" routerLink="/gaming-pc">Explore PCs</button>
                    <button class="btn btn-lg btn-light px-4 me-2">Contact Us</button>
                    <a target="_blank" href="tel:6209460626"><img src="assets/social/whatsapp2.png" width="30px"></a>
                    <a target="_blank" href="https://www.instagram.com/rahulkr.dev/"><img src="assets/social/instagram.png" width="25px"></a>
                    <!-- <a target="_blank" href="tel:6209460626"><img src="assets/social/telephone.png" width="35px"></a> -->
                    <!-- <a target="_blank" href="https://www.facebook.com/profile.php?id=100023688862222"><img src="assets/social/facebook.png" width="25px"></a> -->
                    <!-- <a target="_blank" href="https://github.com/devrahulkr53"><img src="assets/social/github.png" width="30px"></a> -->
                    <!-- <a target="_blank" href="https://www.linkedin.com/in/rahulkrdev53/"><img src="assets/social/linkedin.png" width="25px"></a> -->
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block offset-md-2">
            <img src="assets/pc-images/extreme/1.png" width="100%" alt="">
        </div>
    </div>
    <div id="about" class="row">
        <div class="col-md-12 bg-dark rounded my-5 p-3 p-md-5">
            <h1 class="display-4">About GamingCPU</h1>
            <p class="text-sm   ">Since we started our journey in 2015, we’ve been striving to provide you with the ultimate Custom PC
                experience. We are a team of proficient professionals who are zealous to make all our valued customers
                happy & satisfied by offering premium-quality products & unmatched services. That’s why we are widely
                recognized as the most reliable Custom PC builder in India, specializing in building High-Performance
                Custom Workstation Computers, Gaming PCs, and Servers.
    
                WE NEVER SETTLE FOR LESS & neither should you. We assure you that you’ll hardly find this level of
                craftsmanship & customizability elsewhere. And our industry leading 3 Years Warranty along with Lifetime
                Technical Support always lets you enjoy Peak PC Performance without any worries.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">

            <div class="container">
                <div class="row">
                    <div *ngFor="let item of productList?.slice(0,4)" class="col-6 col-md-3 p-1">
                        <div class="card border border-3 border-dark cursor-pointer text-white my-1" style="background-color: unset;" routerLink="/product" [queryParams]="{id:item.id}">
                            <img [src]="item.productImage" width="80%" height="280px" class="mx-auto p-4" alt="">
                            <div class="p-2 text-center">
                                <!-- <button class="btn btn-lg btn-secondary px-5">View Product</button> -->
                                <h1>Rs. {{item.sellingPrice}}</h1>
                                <h6>{{item.name}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="carousel-item" data-bs-interval="3000">
            
            <div class="container">
                <div class="row">
                    <div *ngFor="let item of productList?.slice(4,8)" class="col-6 col-md-3 p-1">
                        <div class="card border border-3 border-dark cursor-pointer text-white my-1" style="background-color: unset;" routerLink="/product" [queryParams]="{id:item.id}">
                            <img [src]="item.productImage" width="80%" height="280px" class="mx-auto p-4" alt="">
                            <div class="p-2 text-center">
                                <!-- <button class="btn btn-lg btn-secondary px-5">View Product</button> -->
                                <h1>Rs. {{item.sellingPrice}}</h1>
                                <h6>{{item.name}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="carousel-item" data-bs-interval="3000">
            
            <div class="container">
                <div class="row">
                    <div *ngFor="let item of productList?.slice(8,12)" class="col-6 col-md-3 p-1">
                        <div class="card border border-3 border-dark cursor-pointer text-white my-1" style="background-color: unset;" routerLink="/product" [queryParams]="{id:item.id}">
                            <img [src]="item.productImage" width="80%" height="280px" class="mx-auto p-4" alt="">
                            <div class="p-2 text-center">
                                <!-- <button class="btn btn-lg btn-secondary px-5">View Product</button> -->
                                <h1>Rs. {{item.sellingPrice}}</h1>
                                <h6>{{item.name}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    
</div>