<div class="container">
    <div class="d-flex mt-2">
        <div class="mx-1"><a href="" class="text-decoration-none text-dark">Home</a> /</div>
        <div class="mx-1"><a href="/gaming-pc?category=BUDGET GAMING" class="text-decoration-none text-dark">Gaming PCs</a> /</div>
        <div class="mx-1"><a [href]="'/gaming-pc?category='+product?.name" class="text-decoration-none text-dark"> {{product?.name}} </a> /</div>
        <!-- <div class="mx-1">{{productId}}</div> -->
    </div>
    <h1>Gaming PCs</h1>
</div>
<div *ngIf="isPageLoading" class="container-fluid py-5 my-5">
    <div class="text-center">
        <div class="spinner-border text-dark"></div>
    </div>
</div>
<div *ngIf="!isPageLoading" class="container-fluid my-3">
    <div class="row py-3">
        <div class="col-md-12 d-flex align-items-center justify-content-between">
            <img [src]="product?.productImage" class="d-none d-lg-block p-3 px-5" width="400px" [alt]="product?.name">
            <div>
                <img [src]="product?.productImage" class="d-lg-none d-block" width="150px" [alt]="product?.name">
                <h3 class="display-6" style="font-weight: 400;">{{product?.productName}}</h3>
                <h6 class="display-6 mb-0" style="font-weight: 700;">
                    <s style="color: darkred;">Rs. {{product?.marketPrice}}</s> 
                    Rs. {{product?.sellingPrice}}
                </h6>
                <h4 class="text-success">In stock</h4>
                <small class="text-dark">Inclusive of all taxes.</small>
                <div class="d-flex align-items-center my-1">
                    <img src="assets/icons/check.png" width="20px" height="20px" alt="Check icon">
                    <strong class="px-2">Free Delivery</strong>
                </div>
                <div class="d-flex align-items-center my-1">
                    <img src="assets/icons/check.png" width="20px" height="20px" alt="Check icon">
                    <strong class="px-2">Cash on delivery available</strong>
                </div>
                <div class="d-flex align-items-center my-1">
                    <img src="assets/icons/check.png" width="20px" height="20px" alt="Check icon">
                    <strong class="px-2">7 days replacement warranty.</strong>
                </div>
                <div class="d-flex align-items-center my-1">
                    <img src="assets/icons/close.png" width="20px" height="20px" alt="Check icon">
                    <strong class="px-2">Keyboard, Mouse and Moniter</strong>
                </div>
                <a [href]="'/checkout?id='+productId" class="d-none d-md-block"><button class="btn btn-lg btn-dark px-5 mt-2">BUY NOW</button></a>
                <a [href]="'/checkout?id='+productId" class="d-block d-md-none mobile-purchase-button"><button class="btn btn-lg btn-dark shadow-md pt-3 pb-4 w-100">BUY NOW</button></a>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center p-0 px-4 mt-4">
        <div class="p-3 pb-2 d-flex align-items-center cursor-pointer" 
        [ngStyle]="{'border-bottom': selectedTab === 'games' ? '8px solid black':'unset'}" 
        (click)="selectedTab = 'games'">
            <img src="assets/icons/games.png" width="30px" height="30px" alt="Games icon">
            <h4 class="d-none d-xl-block px-3">Installed ( Games / Software )</h4>
        </div>
        <div class="p-3 pb-2 d-flex align-items-center cursor-pointer" 
        [ngStyle]="{'border-bottom': selectedTab === 'settings' ? '8px solid black':'unset'}" 
        (click)="selectedTab = 'settings'">
            <img src="assets/icons/setting.png" width="30px" height="30px" alt="Settings icon">
            <h4 class="d-none d-xl-block px-3">Specification</h4>
        </div>
        <div class="p-3 pb-2 d-flex align-items-center cursor-pointer" 
        [ngStyle]="{'border-bottom': selectedTab === 'info' ? '8px solid black':'unset'}" 
        (click)="selectedTab = 'info'">
        <img src="assets/icons/info.png" width="30px" height="30px" alt="Information icon">
        <h4 class="d-none d-xl-block px-3">Additional Information</h4>
    </div>
    </div>
    <div *ngIf="selectedTab === 'games'" class="row border border-4 border-dark p-3 rounded">
        <div class="d-md-none">
            <h5 class="m-0">Installed ( Games / Software )</h5>
            <hr class="my-3 text-white">
        </div>
        <div class="d-flex align-items-center my-1">
            <img src="assets/icons/windows.png" width="28px" height="28px" alt="Windows 10 icon">
            <h6 class="px-2 m-0">Microsoft Windows 10</h6>
        </div>
        <div class="d-flex align-items-center my-1">
            <img src="assets/icons/gta3.png" width="28px" height="28px" alt="GTA icon">
            <h6 class="px-2 m-0">Grand Theft Auto ( GTA 3 )</h6>
        </div>
        <div class="d-flex align-items-center my-1">
            <img src="assets/icons/gta-san.png" width="28px" height="28px" alt="GTA icon">
            <h6 class="px-2 m-0">GTA San Andreas</h6>
        </div>
        <div class="d-flex align-items-center my-1">
            <img src="assets/icons/max-payne.png" width="28px" height="28px" alt="GTA icon">
            <h6 class="px-2 m-0">Max Payne 1</h6>
        </div>
        <!-- <h5>Dimensions: 20cm x 30cm x 5cm</h5> -->
    </div>
    <div *ngIf="selectedTab === 'settings'" class="row border border-4 border-dark p-3 rounded">
        <div class="d-md-none">
            <h5 class="m-0">Specification</h5>
            <hr class="my-3 text-white">
        </div>
        <div class="d-flex align-items-center">
            <img src="assets/icons/cpu.png" width="28px" height="28px" alt="CPU icon">
            <h6 class="px-2 m-0">{{product?.specification?.processor}}</h6>
        </div>
        <div class="d-flex align-items-center">
            <img src="assets/icons/ram.png" width="28px" height="28px" alt="RAM icon">
            <h6 class="px-2 m-0">{{product?.specification?.ram}}</h6>
        </div>
        <div class="d-flex align-items-center">
            <img src="assets/icons/gpu.png" width="28px" height="28px" alt="GPU icon">
            <h6 class="px-2 m-0">{{product?.specification?.graphics}}</h6>
        </div>
        <div class="d-flex align-items-center">
            <img src="assets/icons/hard-drive.png" width="28px" height="28px" alt="Hard drive icon">
            <h6 class="px-2 m-0">{{product?.specification?.harddrive}}</h6>
        </div>
        <div class="d-flex align-items-center">
            <img src="assets/icons/ssd-drive.png" width="28px" height="28px" alt="SSD drive icon">
            <h6 class="px-2 m-0">{{product?.specification?.ssd}}</h6>
        </div>
    </div>
    <div *ngIf="selectedTab === 'info'" class="row border border-4 border-dark p-3 rounded">
        <h5>Dimensions: {{product?.caseDimensions}}</h5>
        <h5>Seller: {{product?.seller}}</h5>
        <!-- <hr class="my-3 text-white"> -->
    </div>

    <!-- <div class="d-flex flex-wrap align-items-center justify-content-center gap-3 my-5">
        <img src="assets/icons/windows.png" width="50px" height="50px" alt="GTA icon">
        <img src="assets/icons/gta3.png" width="50px" height="50px" alt="GTA icon">
        <img src="assets/icons/gta-san.png" width="50px" height="50px" alt="GTA icon">
        <img src="assets/icons/max-payne.png" width="50px" height="50px" alt="GTA icon">
    </div> -->
    
    <div class="row rounded py-4 my-4">
        <h2>Product Description</h2>
        <p>{{product?.description}}</p>
    </div>

    <h2>Related Products</h2>
    <hr>
    <div slickContainer #slickController="slick" [slickConfig]="config">
        <ng-container *ngIf="slickController.initialize">
            <div slickItem *ngFor="let item of productList; let i = index">
                <a [href]="'/product?id='+item.id" class="text-dark"><div class="cursor-pointer m-1 p-2" style="background-color: unset;">
                    <img [src]="item.productImage" width="100%" height="280px" class="p-0 d-none d-md-block" [alt]="item?.name">
                    <img [src]="item.productImage" width="100%" height="180px" class="p-0 d-block d-md-none" [alt]="item?.name">
                    <div class="p-0 pt-2">
                        <!-- <button class="btn btn-lg btn-secondary px-5">View Product</button> -->
                        <div>{{item.productName}}</div>
                        <h2 class="m-0" style="font-weight: 500;">Rs. {{item.sellingPrice}}</h2>
                    </div>
                </div></a>
            </div>
        </ng-container>
    </div>
</div>