<div class="container">
    <div class="d-flex mt-2">
        <div class="mx-1"><a href="/" class="text-decoration-none text-dark">Home</a> /</div>
        <div class="mx-1">About Us</div>
    </div>
    <h1>About Us</h1>
</div>
<div class="container-fluid">
    <div id="about" class="row">
        <div class="col-md-12">
            <p>Gaming CPU is your one-stop destination for all your gaming PC needs. With a passion for delivering the best gaming experience, Gaming CPU has become a leading provider of gaming computers and gaming PCs in India.</p>
            <p>At Gaming CPU, we offer a wide range of prebuilt gaming PCs and gaming desktops to suit every gamer's needs and budget. Whether you're a hardcore gamer looking for an extreme gaming machine or just a casual gamer looking for a budget-friendly gaming PC, we have you covered. Our prebuilt gaming PCs are assembled and ready to use right out of the box, so you can spend less time building and more time gaming.</p>
            <p>We understand the importance of performance and reliability in a gaming PC, which is why we only use the latest and greatest components in our machines. Our gaming computers are not just built for gaming, they are also versatile enough to handle all your computing needs. Whether you need a reliable workstation or a multimedia machine, Gaming CPU has you covered.</p>
            <p>At Gaming CPU, we are committed to providing our customers with the best gaming experience possible at an affordable price. We offer gaming PCs starting at under 30000 and cater to customers who are looking for a good gaming PC without breaking the bank. Our gaming computers are not just affordable, they are also built to last and provide a seamless gaming experience.</p>
            <p>In conclusion, if you're looking for a top-notch gaming computer or gaming PC in India, look no further. Gaming CPU is dedicated to providing you with the best gaming experience possible, and we are confident that you will find the perfect gaming machine for your needs.</p>
            <hr class="my-4">
        </div>
    </div>
</div>
