<div class="container my-5 py-5">
    <h5 class="text-center text-white display-6 mt-5" style="letter-spacing: 10px;font-size: 22px;">WE USE BRANDED
        COMPONENTS ONLY</h5>
    <hr>
    <div class="d-flex align-items-center justify-content-center flex-wrap gap-3 mb-5">
        <img src="assets/brands/asus.png" width="100px" alt="">
        <img src="assets/brands/msi.png" width="100px" alt="">
        <img src="assets/brands/nvidia.png" width="100px" alt="">
        <img src="assets/brands/gigabyte.png" width="100px" alt="">
        <img src="assets/brands/corsair.png" width="100px" alt="">
        <img src="assets/brands/intel.png" width="80px" alt="">
        <img src="assets/brands/zebronics.png" width="100px" alt="">
        <img src="assets/brands/cooler-master.png" width="100px" alt="">
        <img src="assets/brands/western-digital.png" width="100px" alt="">
        <img src="assets/brands/seaget.png" width="150px" alt="">
    </div>
</div>
<div class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h6 class="display-6">Quick Links</h6>
                <div class="my-2">
                    <a href="#" routerLink="/main" class="text-decoration-none text-secondary">Home</a>
                </div>
                <div class="my-2">
                    <a href="#about" class="text-decoration-none text-secondary">About Company</a>
                </div>
                <div class="my-2">
                    <a href="#" [routerLink]="['/gaming-pc']" [queryParams]="{category:'BUDGET GAMING'}" class="text-decoration-none text-secondary">Gaming PCs</a>
                </div>
                <div class="my-2">
                    <a href="#" routerLink="/contact-us" class="text-decoration-none text-secondary">Contact Us</a>
                </div>
            </div>
            <div class="col-md-4">
                <h6 class="display-6">Our Missions</h6>
                <p class="text-secondary">We aim to provide best in quality gaming pc at lowest price without compromising with quality.</p>
            </div>
            <div class="col-md-4 text-end">
                <h6 class="display-6">GamingCPU</h6>
                <p class="text-secondary">gamingcpu.in@gmail.com</p>

                <div class="d-flex align-items-center justify-content-end gap-3">
                    <a target="_blank" href="tel:6209460626"><img src="assets/social/telephone.png" width="25px"></a>
                    <a target="_blank" href="https://www.instagram.com/rahulkr.dev/"><img src="assets/social/instagram.png" width="25px"></a>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100023688862222"><img src="assets/social/facebook.png" width="25px"></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">&copy; 2023 GamingCPU All Rights Reserved</div>
    </div>
</div>